<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <!-- Alpine.js -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- Your JavaScript -->
  <script defer src="/js/names.js"></script>

  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

  {{ content }}

</body>
</html>
